.tooltip-inner {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    max-width: max-content !important;//define whatever width you want

}

.tooltip.show {
    opacity: 1;
}
.tooltip {
    padding: 0px;
}

.tooltip-arrow{
   border-bottom-color: white;
}