{% extends 'mdscheck/base.html' %}
{% load static %}
{% block content %}


    <link rel="stylesheet" type="text/css" href="{% static 'css/tooltip.css' %}">
    <div class="container">

    <h1 align="center">Что нужно сделать?</h1>
    <h4 align="center"> Нужно оценить схожесть картинок друг с другом. Например, эти картинки очень похожи:</h4>
        <div class="row justify-content-center">
            <img class="col-5 m-2" src="{% static 'pictures/pictures_300_CD11b_vs_CD16.jpeg' %}" >
            <img class="col-5" src="{% static 'pictures/pictures_301_CD11b_vs_CD16.jpeg' %}">
        </div>
    <h4 align="center"> А эти - непохожи:</h4>
        <div class="row justify-content-center">
            <img class="col-5 m-2" src="{% static 'pictures/pictures_302_CD13_vs_CD11b.jpeg' %}" >
            <img class="col-5 m-2" src="{% static 'pictures/44_CD13_vs_CD11b.jpeg' %}">
        </div>
        <h4 align="center">Но что это вообще за картинки?</h4>
        <h5 align="justify">Каждая точка на графике &ndash; это клетка, которая была проанализирована с помощью проточного цитометра. Оси графиков отражают количество определенного белка на поверхности клетки. Чем больше белка на поверхности клетки, тем больше значение на оси.
        На поверхности различных клеток в организме экспрессируются десятки и сотни разных белков. К счастью, сейчас нас интересует экспрессия лишь трех белков &ndash; CD11b, CD13 и CD16 на поверхности гранулоцитов. Гранулоциты &ndash; это подтип белых кровяных телец (лейкоцитов), к тому же наиболее многочисленный.
            Все клетки крови происходят из стволовой клетки, способной к дифференцировке в великое множество различных клеток и самовоспроизведению. Стволовые клетки живут в костном мозге, там же и гранулоциты проходят различные стадии созревания, что
            ассоциируется, в частности, с изменением на их поверхности экспрессии белков CD11b, CD13 и CD16. Схематически это показано на рисунке ниже:
        </h5>
        <div class="row justify-content-center">
            <img class="col-10 m-2" src="{% static 'pictures/MDS maturation.jpg' %}">
        </div>
        <h5 align="justify">Описывая словами изменение экспрессии CD13 и CD11b, мы видим, что на ранних этапах созревания CD13 экспрессирован высоко, а CD11b &ndash; не экспрессирован вовсе (стадия 1). Далее экспрессия CD13 снижается, а CD11b всё также не экспрессирован (стадия 2). Далее,
        на клетках начинает экспрессироваться CD11b (стадия 3), а на 4-ой стадии экспрессия CD11b еще немного возрастает, но кроме того опять появляется экспрессия CD13. Для "настоящих" клеток график, по осям которого отложены CD11b и CD13, выглядит так:
        </h5>
        <div class="row justify-content-center">
            <img class="col-5 m-2" src="{% static 'pictures/CD13_CD11b maturation.jpg' %}">
        </div>
        <h5 align="justify">Клетки на различных стадиях созревания обозначены разными цветами. Во всех случаях деление на 4 стадии - 4 цвета осуществлялось на графике CD13 против CD11b. Но не стоит забывать, что нас интересует еще и CD16, и вот так выглядит созревание клеток на двух графиках с участием CD16:</h5>
        <div class="row justify-content-center">
            <img class="col-5 m-2" src="{% static 'pictures/CD13_CD16 maturation.jpg' %}">
            <img class="col-5 m-2" src="{% static 'pictures/CD16_CD11b maturation.jpg' %}">
        </div>
        <h5 align="justify">Но, может быть, это все характерно лишь для одного донора костного мозга, а у других 7 миллиардов людей все по другому? Наш опыт и публикации коллег биологов говорят об обратном: у здоровых доноров созревание гранулоцитов идет одинаково. Вот, для примера, 9 графиков от 9 людей. Люди разные,а графики одинаковые:</h5>
        <div class="row justify-content-center">
            <img class="col-3 m-2" src="{% static 'pictures/pictures_300_CD13_vs_CD11b.jpeg' %}">
            <img class="col-3 m-2" src="{% static 'pictures/pictures_301_CD13_vs_CD11b.jpeg' %}">
            <img class="col-3 m-2" src="{% static 'pictures/pictures_302_CD13_vs_CD11b.jpeg' %}">
            <img class="col-3 m-2" src="{% static 'pictures/303_CD13_vs_CD11b.jpeg' %}">
            <img class="col-3 m-2" src="{% static 'pictures/304_CD13_vs_CD11b.jpeg' %}">
            <img class="col-3 m-2" src="{% static 'pictures/305_CD13_vs_CD11b.jpeg' %}">
            <img class="col-3 m-2" src="{% static 'pictures/306_CD13_vs_CD11b.jpeg' %}">
            <img class="col-3 m-2" src="{% static 'pictures/307_CD13_vs_CD11b.jpeg' %}">
            <img class="col-3 m-2" src="{% static 'pictures/308_CD13_vs_CD11b.jpeg' %}">
        </div>
        <h5 align="justify">Да, какие-то графики незначительно разнятся. Но это не беда. Концептуально они все одинаковые. 4 стадии созревания, сначала потеря CD13, потом появление CD11b, и затем появление CD13. Это характерное изменение называется паттерном созревания.
        Если с донорами все понятно, то вот с пациентами не все так однозначно. При миелодиспластическом синдроме - клональном заболевании системы крови, часто нарушается созревание гранулоцитов. Это выражается в изменении паттернов созревания. Например, этот паттерн считается аномальным:</h5>
        <div class="row justify-content-center p-2">
            <img class="col-6 my_picture" src="{% static 'pictures/44_CD13_vs_CD11b.jpeg' %}" data-toggle="tooltip" data-placement="left" title='<img src="{% static 'pictures/pictures_300_CD13_vs_CD11b.jpeg' %}">'>
        </div>
        <h5 align="justify">Почему же? На этом графике стадия 1 стремится к стадии 4, а у доноров этого не наблюдается: стадии 1 и 4 удалены друг от друга. Кроме того паттерн имеет другую форму - он "шире", чем у доноров. Все это кажется субъективным, и на самом деле, пока анализ в руках человека все так и будет. Лишь с опытом приходит навык отличать нормальное созревание от аномального.
            А вот так выглядят остальные паттерны. <i>Кстати, вы можете навести на них курсор, чтобы увидеть нормальный паттерн созревания.</i></h5>
        <div class="row justify-content-center p-2" >
            <img class="col-5 my-2 my_picture" src="{% static 'pictures/44_CD13_vs_CD16.jpeg' %}" data-toggle="tooltip" data-placement="right" title='<img id="tooltip" src="{% static 'pictures/pictures_300_CD13_vs_CD16.jpeg' %}">'>
            <img class="col-5 my-2 my_picture" src="{% static 'pictures/44_CD11b_vs_CD16.jpeg' %}" data-toggle="tooltip" data-placement="left" title='<img src="{% static 'pictures/pictures_300_CD11b_vs_CD16.jpeg' %}">'>
        </div>
        <h5 align="justify">Думаю, задача уже более понятна? Нам хотелось бы выяснить, как разные люди оценивают схожесть одних и тех же картинок, и определить степень субъективности визуальной оценки графиков.Каждый раз перед Вами будет 3 картинки и до 4-х вариантов ответа, касающегося каждого паттерна: &quotнормальный&quot (похож на те, что видим у доноров), &quotаномальный&quot (если паттерн отличается от характерного паттерна у доноров), &quotнет ответа&quot и &quotПНГ-клон&quot. Скажу пару слов про последний вариант ответа: ПНГ (пароксизмальная ночная гемоглобинурия) -
            клональное заболевание системы кроветворения, при котором из-за мутаций на поверхности клеток возникает дефицит некоторых белков, в частности CD16. Что это значит в контексте нашей задачи? Клетки, которые должны экспрессировать CD16 (стадия 4) частично или полностью теряют экспрессию этого белка. Обычно это выглядит подобным образом <i>(тут также можно навести курсор на график, чтобы увидеть как выглядит паттерн в норме)</i>.</h5>
        <div class="row justify-content-center" >
            <img class="col-5 my-2 my_picture" src="{% static 'pictures/42_CD13_vs_CD16.jpeg' %}" data-toggle="tooltip" data-placement="right" title='<img src="{% static 'pictures/pictures_300_CD13_vs_CD16.jpeg' %}">'>
            <img class="col-5 my-2 my_picture" src="{% static 'pictures/42_CD11b_vs_CD16.jpeg' %}" data-toggle="tooltip" data-placement="left" title='<img src="{% static 'pictures/pictures_300_CD11b_vs_CD16.jpeg' %}">'>
        </div>
        <h5 align="justify">Сейчас нас не должно волновать, что клеток первой, второй и третьей стадий созревания на графиках мало, ведь несмотря на их количество все они на своих местах. А вот клетки 4-ой стадии разделились на два кластера: с CD16 и без него. Видя такие графики, вы можете указать, что присутствиет ПНГ-клон.</h5>
        <h5 align="justify">И последний момент: вас не должно смущать то, что в некоторых случаях клеток на ранних стадиях созревания не очень много. Ваша задача &ndash; определить на своих ли "местах" на графиках лежат клетки этих стадий созреваний, а не соотнести их количество друг с другом. </h5>
        <h4 align="center">Ну что, начнем?</h4>
        <div class="row justify-content-center">
        <a class="btn btn-success btn-lg" href="{% url 'mds_check:random_mds_case'%}" role="button">Начать</a>
        </div>
    </div>

    <script type="text/javascript">
     window.addEventListener("load", function(){
        var x = document.getElementsByClassName("my_picture");
        for(i = 0; i < x.length; i++){
            console.log(x[i])
            img1 = jQuery.parseHTML(x[i].getAttribute('data-original-title'))[0];
            console.log(img1)
                if(img1 != null) {
                    console.log(1)
                    img1.width = x[i].width;
                    x[i].setAttribute('data-original-title', img1.outerHTML);
                 }
        };
    });

    $(document).ready(function() {

        $('[data-toggle="tooltip"]').tooltip({
            html: true,
            container: 'body'
        });

        $('[data-toggle="tooltip"]').on('shown.bs.tooltip', myFunction);

    });
    window.addEventListener("resize", myFunction);


    function myFunction(){

        var x = document.getElementsByClassName("my_picture");
        for(i = 0; i < x.length; i++){
           img = jQuery.parseHTML(x[i].getAttribute('data-original-title'))[0];
            img.width = x[i].width;
            x[i].setAttribute('data-original-title', img.outerHTML);
        }
    }
</script>
{% endblock %}

