{% extends 'mdscheck/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pagination.css' %}">
    <div class="mt-4">
    {% if total %}
        <h2 align="center">Всего ответов: {{ total }}. Правильных: {{ right_decisions }} ({{ percent|floatformat:'1' }}%)</h2>
    {% else %}
        <h2 align="center">Пока не было ответов.</h2>
    {% endif %}
    <hr>
    {% for case_decision in decision_list %}
        <div class='my-3' align="center">
        <a href="{{ case_decision.case.get_absolute_url }}">Кейс № {{ case_decision.case.number }}</a>
        {% if case_decision.case.is_donor %}
            (Донор)
            {% else %}
            (Пациент)
        {% endif %}
        </div>
        <div class="row justify-content-center">
        {% for decision in case_decision.decisions %}

            {% if decision.decision.decision == decision.expert_decision.decision %}
            <div class="alert alert-success col-3 mx-2">Паттерн {{ decision.decision.image.get_name_display }} - {{ decision.decision.get_decision_display }}</div>
            {% elif not decision.expert_decision %}
                {% if decision.decision.decision == 'neg' %}
                    <div class="alert alert-success col-3 mx-2">Паттерн {{ decision.decision.image.get_name_display }} - {{ decision.decision.get_decision_display }}</div>
                    {% else %}
                    <div class="alert alert-danger col-3 mx-2"><p class="my-0">Паттерн {{ decision.decision.image.get_name_display }} - Нормальный.</p> <p class="my-0">Вы ответили: {{ decision.decision.get_decision_display }}</p></div>
                    {% endif %}
            {% else %}
                <div class="alert alert-danger col-3 mx-2"><p class="my-0">Паттерн {{ decision.decision.image.get_name_display }} - {{ decision.expert_decision.get_decision_display }}.</p> <p class="my-0">Вы ответили: {{ decision.decision.get_decision_display }}</p></div>
            {% endif %}
        {% endfor %}
        </div>
        <hr>
    {% endfor %}
    {% if total %}
    <div class="container">
    <div class="row justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if decision_list.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ decision_list.previous_page_number }}">Предыдущая</a></li>
            {% endif %}
            {% for page in decision_list.paginator.page_range %}
                {% if page == decision_list.number %}
                    <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}

            {% endfor %}
            {% if decision_list.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ decision_list.next_page_number }}">Следующая</a></li>
            {% endif %}
        </ul>
    </nav>
    </div>
    </div>
    {% endif %}
    </div>
{% endblock %}

