{% extends 'mdscheck/base.html' %}
{% block content %}
    <div class="mt-4" align="center">
            <h2 align="center">Знаете, что нужно делать и готовы начать?</h2>
            {% if request.session.email %}
            <a class="btn btn-outline-success btn-lg" href="{% url 'mds_check:random_mds_case'%}" role="button" >Начать</a>
            {% else %}
            <a class="btn btn-outline-success btn-lg" href="{% url 'mds_check:email_form'%}" role="button" >Введите е-мэйл</a>
            {% endif %}
            <h2 class = 'mt-4'>Или хотите ознакомиться с теоретической частью? Тогда, нажимайте</h2>
            <a class="btn btn-outline-success btn-lg" href="{% url 'mds_check:about' %}">Подробнее</a>
    </div>
{% endblock %}
{% block comments %}
{% if decisions %}
    <div class="overflow-auto m-2 border border-info rounded", style="height: 90vh">

            <h4 class="mt-2" align="center">Последние ответы:</h4>
        {% for decision in decisions %}
            <div class="alert alert-success m-2" role="alert">
                <p class="m-0">{{ decision.posted_date|date:"d E H:i" }} :</p>
                <p class="m-0">В кейсе <a href="{{ decision.image.case.get_absolute_url }}">№{{ decision.image.case.number }}</a></p>
                <p class="m-0">Паттерн {{ decision.image.get_name_display }} </p>
                <p class="m-0">{{ decision.get_decision_display }}</p>
            </div>
        {% endfor %}


    </div>
{% endif %}
{% endblock %}